.container {
  display: flex;
  gap: 25px;
  padding: 25px;
  max-width: 1300px;
  margin: auto;
}

.editors {
  width: 50%;
}

.preview {
  width: 50%;
}

textarea {
  margin-bottom: 12px;
  border: 2px solid #333;
}

.toolbar button {
  transition: 0.2s;
}

.toolbar button:hover {
  transform: scale(1.05);
}
